html {
    font-family: "League Spartan";
}

body {
    font-size: 2rem;
    background-color: hsl(222, 26%, 31%);
    
}

.txtLogo {
    color: white;
}

.wholeCalc {
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 25%;
    
}


.buttons {
    display: grid;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    grid-template-rows: 3.5rem 3.5rem 3.5rem 3.5rem;
    padding: 1rem;
    gap: 1rem;
    background-color: hsl(223, 31%, 20%);
    border-radius: 5%;
    
}

button {
    background-color: hsl(45, 7%, 89%);
    color: hsl(221, 14%, 31%);
    border: none;
    border-bottom: hsla(60, 10%, 19%, .1) 5px solid;
    text-align: center;
}

button:hover {
    cursor: pointer;
}
.seven, .eight, .nine, .delete  {
    grid-row: 1;
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10%;
    
}
.four, .five, .six, .plus {
    grid-row: 2;
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10%;
}
.one, .two, .three, .minus {
    grid-row: 3;
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10%;
}
.dot, .zero, .divide, .multiply {
    grid-row: 4;
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10%;
}

.reset {
    grid-column: 1 / 3;
    grid-row: 5;
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10%;

    background-color: hsl(185, 42%, 37%);
    color: white;
    width: 100%;
}



.equal {
    background-color: hsl(6, 63%, 50%);
    grid-column: 3 / 5;
    color: white;
    grid-row: 5;
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 2rem;
    border-radius: 10%;
}

.bgTotal {
    background-color: hsl(224, 36%, 15%);
    width: 100%;
    text-align: end;
    border-radius: 5%;
    color: white;
}

.bgTotal p {
    margin-right: 5%;
    font-weight: bold;
}

.delete {
    background-color: hsl(185, 42%, 37%);
    color: white;
}


@media only screen and (max-width: 600px) {
    .wholeCalc {
      gap: 1rem;
    }
    .buttons {
        grid-template-columns: 4rem 4rem 4rem 4rem;
        grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem;
    }
  }